@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wstest.css")">
        <title>@title</title>
    </head>
    <body>
        "WS TEST by Javascript"
        <h1 id = "wsStatus"></h1>
        <div id = "msgSent"></div>
        <button id="sendText">SEND TEST TEXT</button>
        <br>
        <button id="closeConn">CLOSE CONNECTION</button>
        <br>
        <script src="@routes.Assets.versioned("javascripts/wstest.js")" type="text/javascript"></script>
    </body>
</html>